#header {
    background-color: grey;
}
/* Title style*/
#headerTitle {
    color: black;
    text-align: center;
}
/* form submit style*/
#employeeHeader {
    text-align: left;
}
/* Table style*/
table, th, td {
    border:1px solid black;
  }

  #tableDiv {
    background-color: rgb(198, 196, 196);
  }

  #formDiv {
    text-align: center;
  }

  #totalMonthly {
    text-align: right;
  }